.layer7{
	width:100%;float:left;
	color:#FFF;background-image:url(../img/layer7/bg.jpg);background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	height:auto;min-height:595px;
}

.layer7down
{
	/*1460 1920 */
	width:76%;margin-top:30%;margin-left:auto;margin-right:auto;text-align:center;
}


@media all and (min-width: 1000px) and (max-width: 1100px) 
{
	.layer7{
		min-height:575px;
	}
}
@media all and (min-width: 1000px) and (max-width: 1100px) 
{
	.layer7{
		min-height:555px;
	}
}

@media all and (min-width: 900px) and (max-width: 1000px) 
{
	.layer7{
		min-height:535px;
	}
}

@media all and (min-width: 800px) and (max-width: 900px) 
{
	.layer7{
		min-height:515px;
	}
}


@media all and (min-width: 600px) and (max-width: 800px) 
{
	.layer7{
		min-height:495px;
	}
}

@media all and (min-width: 500px) and (max-width: 600px) 
{
	.layer7{
		min-height:475px;
	}
}
@media all and (min-width: 450px) and (max-width: 500px) 
{
	.layer7{
		min-height:455px;
	}
}
@media all and (min-width: 1px) and (max-width: 450px) 
{
	.layer7{
		min-height:435px;
	}
}